$primary:bisque;
$secondary:rgb(230, 129, 129);

*{
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif, Arial;
}

.intro{
    width:90%;
    margin:0 auto;
    background-color:$primary;
    padding:40px auto;
    font-size: 7vw;
    display:block;
    min-width: 250px;
    font-weight:600;
    text-align: center;
    color:black;
    white-space: nowrap;
    border-radius: .25rem;
    
   


}


#myform{
    background-color:$primary;
    width:80%;
    margin:0 auto;
    display:block;
    text-align:center;
    padding-top:3vh;
    .form-container{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:2vh;
        

    }
   
    .icon{
        text-align:center;
        background-color: $secondary;
        color:$primary;
        padding:3vh;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
       
    }
    input{
        width:70%;
        border-style:none;
        padding:3vh;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
   
    .submitButton{
        border-radius:5px;
        border-style:none;
        background-color:$secondary;
        width:40%;
        line-height: 1.5vh;
        font-weight:600;
        padding-top:3vh;
        padding-bottom:3vh;
        

    }
   
}

.stars-outer{
    display:inline-block;
    position: relative;
    font-family:FontAwesome;
    font-size: 2rem;

}
.stars-outer::before{
    content:"\f006 \f006 \f006 \f006 \f006";

}

.stars-inner{
    position:absolute;
    top:0;
    left:0;
    white-space:nowrap;
    overflow:hidden;
    width:0;

}
.stars-inner::before{
    content:"\f005 \f005 \f005 \f005 \f005";
    color:#f8ce0b;
}

#section-2{
    
    h3{
        display:block;
        text-align:center;

        
    }
    .displayTable{
        text-align:center;
        width:80%;
        margin:0 auto;
        padding-top:5vh;
        border-collapse: collapse;
        
       table,th,td{
           border:2px $secondary solid;

       }
        thead{
            
            font:white;
            
            th{
                
                text-align: center;
            }
        }
        .deleteButton{
            padding:10px;
            border-radius:5px;
            border:none;
            font-size:1rem;
            background-color: $secondary;
        
        }

    }

}

#za-footo{
    background:$primary;
    width:70%;
    margin:auto;
    #links{
        border:5px $secondary solid;
        display:flex;
        justify-content:space-around;

        .fa{
            color:$secondary;

        }
    }
    #name{
        margin-top:2rem;
        text-align: center;
        display: block;
        color:$secondary
    }
}
.alert{
    width:60%;
    padding:1.5rem;
    font-size:2rem;
    margin:1rem auto;
    border-bottom:3rem;
    border-radius:5px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}


@media (max-width:400px){
    body{
        background:$primary;
        
    }
    .intro{
        width:100%;
        color:$secondary;
        
    }
    #myform{
        width:100%;
        
    }
    
    h3{
        color:$secondary;
    }
    .displayTable{
        width:100%;
    }
    #za-footo{
        width:100%;
    }
}